<div class="w-full h-full bg-pattern" fxLayout="column" fxLayoutAlign="center center">
  <div @fadeInUp class="card overflow-hidden w-full max-w-xs">
    <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
      <div class="fill-current text-center">
        <img class="w-16" src="assets/img/logo_kool_white.png">
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">{{appName}}</h2>
      <h4 class="body-2 text-secondary m-0">Connectez-vous avec vos identifiants.</h4>
    </div>

    <div [formGroup]="form" class="p-6" fxLayout="column" fxLayoutGap="16px">
      <div fxFlex="auto" fxLayout="column">
        <mat-form-field fxFlex="grow">
          <mat-label>E-Mail</mat-label>
          <input formControlName="email" matInput required>
          <mat-error *ngIf="form.get('email').hasError('required')">Nous avons besoin d'une adresse e-mail pour vous connecter</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="grow">
          <mat-label>Mot de passe</mat-label>
          <input [type]="inputType" formControlName="password" matInput required>
          <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Afficher ou masquer le mot de passe" type="button">
            <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
            <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
          </button>
          <mat-hint>Cliquez sur l'œil pour basculer la visibilité</mat-hint>
          <mat-error *ngIf="form.get('password').hasError('required')">Nous avons besoin d'un mot de passe pour vous connecter</mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <a [routerLink]="['/forgot-password']" class="caption">Mot de passe oublié?</a>
      </div>

      <button (click)="send()" color="primary" mat-raised-button type="button">
        SE CONNECTER
      </button>

   
    </div>
  </div>
</div>
